<ion-header [translucent]="true">
<style>.no-click{pointer-events: none;}</style>
  <ion-toolbar color="primary">
  <!--<ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
    </ion-button>
  </ion-buttons>-->
    <ion-title>
      魔法功能
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">



<ion-grid>
<!-- Auto Fitting-->
<ion-row>
<ion-card style="background: #5070c0">
  <img src="assets/auto-fitting.png"> <!-- 在card hearder上面的图片-->
</ion-card>
</ion-row>

<!-- VR Try-on-->
<ion-row>
<ion-card style="background: #f3a438">
  <img src="assets/try-on.png"> <!-- 在card hearder上面的图片-->
</ion-card>
</ion-row>

<!--Trend Guide-->
<ion-row>
<ion-card style="background: #69b0e9">
  <img src="assets/trend.png"> <!-- 在card hearder上面的图片-->
</ion-card>
</ion-row>

</ion-grid>



</ion-content>
