<ion-header [translucent]="true">
<style>.fake-no-wrap{white-space:nowrap;word-break:keep-all;overflow:hidden;text-overflow:ellipsis;}</style>
  <ion-toolbar color="primary">
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
    </ion-button>
  </ion-buttons>
    <ion-title>
      拿衣服
    </ion-title>
  </ion-toolbar>

  <ion-toolbar>
  <ion-segment Scrollable value="glasses">
    
    <ion-segment-button value="glasses">
    <ion-label>日常</ion-label>
      <ion-icon name="glasses"></ion-icon>
    </ion-segment-button>

    <ion-segment-button value="restaurant">
    <ion-label>正式</ion-label>
      <ion-icon name="restaurant"></ion-icon>
    </ion-segment-button>

    <ion-segment-button value="golf">
    <ion-label>运动</ion-label>
      <ion-icon name="golf"></ion-icon>
    </ion-segment-button>

    <ion-segment-button value="sonw">
    <ion-label>清凉</ion-label>
      <ion-icon name="snow"></ion-icon>
    </ion-segment-button>

    <ion-segment-button value="flame">
    <ion-label>保暖</ion-label>
      <ion-icon name="flame"></ion-icon>
    </ion-segment-button>

    <ion-segment-button value="heart">
    <ion-label>收藏</ion-label>
      <ion-icon name="heart"></ion-icon>
    </ion-segment-button>

  </ion-segment>
</ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

<ion-grid>
  <ion-row class="ion-justify-content-evenly">

    <ion-col>
      <ion-card>  
        <img src="assets/icon/clothes.png">
        <ion-card-header>
          <ion-card-subtitle class="no-wrap" style="white-space: nowrap;">GUCCI短..</ion-card-subtitle>
        </ion-card-header>

        <!--<ion-card-content class="no-wrap">
          可以干嘛
        </ion-card-content>-->
      </ion-card>
    </ion-col>
    
    <ion-col>
      <ion-card>  
        <img src="assets/icon/clothes.png">
        <ion-card-header>
          <ion-card-subtitle class="no-wrap">Canada...</ion-card-subtitle>
        </ion-card-header>

        <!--<ion-card-content class="no-wrap">
          可以干嘛
        </ion-card-content>-->
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card>  
        <img src="assets/icon/clothes.png">
        <ion-card-header>
          <ion-card-subtitle class="no-wrap">寒王</ion-card-subtitle>
        </ion-card-header>

        <!--<ion-card-content class="no-wrap">
          可以干嘛
        </ion-card-content>-->
      </ion-card>
    </ion-col>
  
  </ion-row>

  <ion-row class="ion-justify-content-evenly">

    <ion-col>
      <ion-card>  
        <img src="assets/icon/clothes.png">
        <ion-card-header>
          <ion-card-subtitle class="no-wrap">寒哥最爱</ion-card-subtitle>
        </ion-card-header>

        <!--<ion-card-content class="no-wrap">
          可以干嘛
        </ion-card-content>-->
      </ion-card>
    </ion-col>
    
    <ion-col>
      <ion-card>  
        <img src="assets/icon/clothes.png">
        <ion-card-header>
          <ion-card-subtitle class="no-wrap">约会宝器</ion-card-subtitle>
        </ion-card-header>

        <!--<ion-card-content class="no-wrap">
          可以干嘛
        </ion-card-content>-->
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card>  
        <img src="assets/icon/clothes.png">
        <ion-card-header>
          <ion-card-subtitle class="no-wrap">开会外套</ion-card-subtitle>
        </ion-card-header>

        <!--<ion-card-content class="no-wrap">
          可以干嘛
        </ion-card-content>-->
      </ion-card>
    </ion-col>
  
  </ion-row>

  <ion-row>

    <ion-col>
      <ion-card>  
        <img src="assets/icon/clothes.png">
        <ion-card-header>
          <ion-card-subtitle class="no-wrap">约会必穿7</ion-card-subtitle>
        </ion-card-header>

        <!--<ion-card-content class="no-wrap">
          可以干嘛
        </ion-card-content>-->
      </ion-card>
    </ion-col>
    
    <ion-col>
      <ion-card>  
        <img src="assets/icon/clothes.png">
        <ion-card-header>
          <ion-card-subtitle class="no-wrap">没想好叫..</ion-card-subtitle>
        </ion-card-header>

        <!--<ion-card-content class="no-wrap">
          可以干嘛
        </ion-card-content>-->
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card>  
        <img src="assets/icon/clothes.png">
        <ion-card-header>
          <ion-card-subtitle class="no-wrap">上课西装</ion-card-subtitle>
        </ion-card-header>

        <!--<ion-card-content class="no-wrap">
          可以干嘛
        </ion-card-content>-->
      </ion-card>
    </ion-col>
  
  </ion-row>

  <ion-row>

    <ion-col>
      <ion-card>  
        <img src="assets/icon/clothes.png">
        <ion-card-header>
          <ion-card-subtitle class="no-wrap">我没名字</ion-card-subtitle>
        </ion-card-header>

        <!--<ion-card-content class="no-wrap">
          可以干嘛
        </ion-card-content>-->
      </ion-card>
    </ion-col>
    
    <ion-col>
      <ion-card>  
        <img src="assets/icon/clothes.png">
        <ion-card-header>
          <ion-card-subtitle class="no-wrap">我没名字</ion-card-subtitle>
        </ion-card-header>

        <!--<ion-card-content class="no-wrap">
          可以干嘛
        </ion-card-content>-->
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card>  
        <img src="assets/icon/clothes.png">
        <ion-card-header>
          <ion-card-subtitle class="no-wrap">我没名字</ion-card-subtitle>
        </ion-card-header>

        <!--<ion-card-content class="no-wrap">
          可以干嘛
        </ion-card-content>-->
      </ion-card>
    </ion-col>
  
  </ion-row>


</ion-grid>

<ion-list>
  <ion-list-header>
    <ion-label>
      Single Selection
    </ion-label>
  </ion-list-header>

  <ion-item>
    <ion-label>Gender</ion-label>
    <ion-select placeholder="Select One">
      <ion-select-option value="f">Female</ion-select-option>
      <ion-select-option value="m">Male</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Hair Color</ion-label>
    <ion-select value="brown" okText="Okay" cancelText="Dismiss">
      <ion-select-option value="brown">Brown</ion-select-option>
      <ion-select-option value="blonde">Blonde</ion-select-option>
      <ion-select-option value="black">Black</ion-select-option>
      <ion-select-option value="red">Red</ion-select-option>
    </ion-select>
  </ion-item>

</ion-list>




</ion-content>